DOMAIN_NAME=eeravci.42.fr
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=enes50
MYSQL_ROOT_PASSWORD=enesroot50
WP_TITLE=Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_PASSWORD=enesadmin50
WP_ADMIN_EMAIL=enes.nev@gmail.com
WP_USER=author
WP_USER_PASSWORD=author50
WP_USER_EMAIL=author@gmail.com
FTP_USER=ftpuser
FTP_PASSWORD=ftpuser50
FTP_PASV_ADDRESS=127.0.0.1
DATA_ROOT=/home/eeravci/data