DOMAIN_NAME=yourlogin.42.fr
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=changepass
MYSQL_ROOT_PASSWORD=changepass2
WP_TITLE=Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_PASSWORD=changepassw
WP_ADMIN_EMAIL=enes.nev@gmail.com
WP_USER=author
WP_USER_PASSWORD=changepass
WP_USER_EMAIL=author@gmail.com
FTP_USER=ftpuser
FTP_PASSWORD=ftpuser50
FTP_PASV_ADDRESS=127.0.0.1
DATA_ROOT=/home/yourlogin/data